body{
    margin: 0;
    padding: 0;
}

.header{
    padding: 20px;
    background-color: #26A65B;
    height: 100px;
}
.form{
    padding-top: 50px;
    background-color: lightgreen;
    width: 25vw;
    height: 300px;
    margin-top: 50px;
    margin-left: 50px;
}
.display{
    display: flex;
}
.aside{
    background-color: #4daf7c;
    width: 20vw;
}
.nav{
    background-color: #049372;
    width: 20vw;
}
.footer{
    padding: 20px;
    background-color: #26A65B;
    height: 100px;
}

.motor{
    padding-left: 50px;
}
.form1{
    padding-top: 50px;
    background-color: lightgreen;
    width: 30vw;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 50px;
    margin-right: 50px;
}
.submit{
    margin-left: 15rem;
    height: 30px;
    background-color: gray;
}